@import url(
	'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap'
	);

:root {
	--text: #ffffff;
	--background: #1a191a;
	--primary-button: #1c305a;
	--secondary-button: #e7e5de;
	--accent: #39456a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text)
}

/* Text  */
h1, h2, h3, h4, p {
	font-family: Roboto Mono;
}

h1,h2 {
	font-weight: 700;
}

h3, h4 {
	font-weight: 500;
}

p {
	font-weight: 400;
}

