.container {  
    display: grid;
    grid-template-columns: 0.125fr repeat(3, 1fr) 0.125fr;
    grid-template-rows: 2% 1fr 0.125fr repeat(3, 1fr) 2%;
    grid-auto-columns: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
    ".          .              .              .         ."
    ".        TEXT            TEXT          TEXT        ."
    ".          .              .              .         ."
    ".      game-area      game-area      game-area     ."
    ".      game-area      game-area      game-area     ."
    ".      game-area      game-area      game-area     ."
    ".          .              .              .         .";
}

.container > h1 {
  grid-area: TEXT;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-area {  
    height: 100%;
    
    background-color: var(--secoundary-background);
    display: grid;
    grid-area: game-area;
    grid-template-columns: 0.125fr repeat(var(--grid-gmae-columns), 1fr) 0.125fr;
    grid-template-rows: 0.05fr repeat(var(--amout-of-rows), minmax(min-content, max-content)) 0.05fr;
    gap: 0.75em 0.5em;
    grid-template-areas: var(--game-grid);
  overflow-y: scroll;
        
}


img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit:contain; 
   
}

