


.container {  
    display: grid;
    grid-template-columns: 0.125fr repeat(1fr, 3) 0.125fr;
    grid-template-rows: 0.125fr repeat(1fr, 3) 0.125fr;
    grid-auto-columns: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
    ". .         .         .         ."
    ". game-area game-area game-area ."
    ". game-area game-area game-area ."
    ". game-area game-area game-area ."
    ". .         .         .         .";
}

#game-area {  
    height: 100%;
    
    background-color: var(--secoundary-background);
    display: grid;
    grid-area: game-area;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-auto-flow: row;
    grid-template-areas: var(--game-grid)
        
}
